# Web framework
fastapi==0.115.12
uvicorn==0.34.2

# Data validation
pydantic==2.11.3

# Environment variable loader
python-dotenv==1.1.0

# MongoDB driver + async client
pymongo==4.12.0
motor==3.7.0

# NLP / embeddings
sentence-transformers==4.1.0
transformers==4.51.3
torch==2.6.0
nltk==3.9.1

# HTTP requests
requests==2.32.3

# (Optional) if interacting with Hugging Face Hub
huggingface-hub==0.30.2

cloudinary==1.44.0
