anyio==4.9.0
cloudinary==1.44.0
faiss-cpu==1.10.0
fastapi==0.115.12
gTTS==2.5.4
h11==0.14.0
huggingface-hub==0.30.2
motor==3.7.0
numpy==2.2.5
nltk==3.9.1
pydantic==2.11.3
python-dotenv==1.1.0
python-multipart==0.0.20
pymongo==4.12.0
reportlab==4.4.0
requests==2.32.3
sentence-transformers==4.1.0
starlette==0.46.2
torch==2.6.0
transformers==4.51.3
uvicorn==0.34.2
